<%- include('../html-header.ejs') %>

                      <div class="f-fallback">
                        <h1>Hi, <%= current_job_doc.customer_name %>!</h1>
                        <p>You sent an invoice of $<%= (charge/100).toFixed(2) %> to <%= current_job_doc.customer_name %>. 
                          You will be notified when payment is received.</p>
                        <table class="purchase" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                          <tr>
                            <td>
                              <h3>Invoice# <%= invoice_id %></h3></td>
                            <td>
                              <h3 class="align-right"><%= invoice_date %></h3></td>
                          </tr>
                          <tr>
                            <td colspan="2">
                              <table class="purchase_content" width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                  <th class="purchase_heading" align="left">
                                    <p class="f-fallback">Description</p>
                                  </th>
                                  <th class="purchase_heading" align="right">
                                    <p class="f-fallback">Amount</p>
                                  </th>
                                </tr>
                                <tr>
                                  <td width="80%" class="purchase_item">
                                    <span class="f-fallback">
                                    <%= current_job_doc.topic  %>: <%= job_date %> for 
                                    <%= (lengthInSeconds/60).toFixed(2)  %> minutes @ <%= current_job_doc.rate_name %> per hour
                                  </span>
                                </td>
                                  <td class="align-right" width="20%" class="purchase_item"><span class="f-fallback">$<%= (charge /100).toFixed(2)  %></span></td>
                                </tr>
                                <tr>
                                  <td width="80%" class="purchase_footer" valign="middle">
                                    <p class="f-fallback purchase_total purchase_total--label">Total</p>
                                  </td>
                                  <td width="20%" class="purchase_footer" valign="middle">
                                    <p class="f-fallback purchase_total">$<%= (charge /100).toFixed(2)  %></p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>

                        <p>If you have any questions, please <a href="mailto:<%= support_email %>">email our customer success team</a>.</p>
                        <p>Thanks,
                          <br>The <%= product_name %> Team</p>
                        
                      </div>


<%- include('../html-footer.ejs') %>